:root {
  /*Cores*/
  --amarelo: hsl(47, 88%, 63%);
  --branco: hsl(0, 0%, 100%);
  --cinzaClaro: hsl(0, 0%, 42%);
  --cinzaEscuro: hsl(0, 0%, 7%);
  --preto: hsl(0, 0%, 0%);
  /*Fontes*/
  --texto14: 500 clamp(0.75rem, 0.714285714285714rem + 0.178571428571429vw, 0.875rem)/150% "Figtree";
  --texto14n: 800 clamp(0.75rem, 0.714285714285714rem + 0.178571428571429vw, 0.875rem)/150% "Figtree";
  --texto16: 500 clamp(0.875rem, 0.839285714285714rem + 0.178571428571429vw, 1rem)/150% "Figtree";
  --titulo24: 800 clamp(1.25rem, 1.17857142857143rem + 0.357142857142857vw, 1.5rem)/150% "Figtree";
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1.5rem;
}

main {
  background-color: var(--branco);
  border: 1px solid var(--preto);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 8px 8px var(--preto);
  padding: 1.5rem;
  width: clamp(20.4375rem, 50vw, 24rem);
}

#imgprincipal {
  border-radius: 10px;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

#conteudo {
  margin-bottom: 1.5rem;
}

h1 {
  font: var(--titulo24);
}

h1, p {
  margin: 0 0 0.75rem 0;
}

h1:hover {
  color: var(--amarelo);
  cursor: pointer;
}

#estado {
  background-color: var(--amarelo);
  border-radius: 4px;
  display: inline-block;
  font: var(--texto14n);
  padding: 0.25rem 0.75rem;
}

#publicado {
  font: var(--texto14);
}

#descricao {
  color: var(--cinzaClaro);
  font: var(--texto16);

}

#persona {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#autor {
  display: inline-block;
  font: var(--texto14n);
  margin: 0;
}

#fotoautor {
  height: 2rem;
  margin-right: 0.75rem;
  width: 2rem;
}