* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --cor-fundo-3: hsl(0, 0%, 0%);

  --fonte-1: 800 clamp(1.25rem, 1.17857142857143rem + 0.357142857142857vw, 1.5rem)/150% "Figtree", sans-serif;
  --fonte-2: 500 clamp(0.875rem, 0.839285714285714rem + 0.178571428571429vw, 1rem)/150% "Figtree", sans-serif;
  --fonte-3: 500 clamp(0.75rem, 0.714285714285714rem + 0.178571428571429vw, 0.875rem)/150% "Figtree", sans-serif;
  --fonte-4: 800 clamp(0.75rem, 0.714285714285714rem + 0.178571428571429vw, 0.875rem)/150% "Figtree", sans-serif;
}

:root[data-theme='light'] {
  --cor-fonte-1: hsl(0, 0%, 7%);
  --cor-fonte-2: hsl(0, 0%, 42%);
  --cor-fundo-1: hsl(47, 88%, 63%);
  --cor-fundo-2: hsl(0, 0%, 100%);
}

:root[data-theme='dark'] {
  --cor-fonte-1: hsl(0, 0%, 90%);
  --cor-fonte-2: hsl(0, 0%, 70%);
  --cor-fundo-1: hsl(47, 88%, 20%);
  --cor-fundo-2: hsl(0, 0%, 15%);
}

:root[data-theme='light-dark'] {
  --cor-fonte-1: light-dark(hsl(0, 0%, 7%), hsl(0, 0%, 90%));
  --cor-fonte-2: light-dark(hsl(0, 0%, 42%), hsl(0, 0%, 70%));
  --cor-fundo-1: light-dark(hsl(47, 88%, 63%), hsl(47, 88%, 20%));
  --cor-fundo-2: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 15%));
}

.cor-fonte-1 { color: var(--cor-fonte-1); }
.cor-fonte-2 { color: var(--cor-fonte-2); }

.cor-fundo-1 { background-color: var(--cor-fundo-1); }
.cor-fundo-2 { background-color: var(--cor-fundo-2); }

.fonte-1 { font: var(--fonte-1); }
.fonte-2 { font: var(--fonte-2); }
.fonte-3 { font: var(--fonte-3); }
.fonte-4 { font: var(--fonte-4); }

html, body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100%;
}

.tema {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  opacity: 0.7;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.tema:hover {
  cursor: pointer;
}

.modal {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.conteudo-modal {
  border: 1px solid #888;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15% auto;
  max-width: 20rem;
  padding: 1rem;
  width: 100%;
}

.fechar-modal {
  align-self: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.fechar-modal:hover,
.fechar-modal:focus {
  text-decoration: none;
  cursor: pointer;
}

form {
  text-align: left;
}

input:hover, label:hover {
  cursor: pointer;
}

main {
  border: 1px solid var(--cor-fundo-3);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 8px 8px var(--cor-fundo-3);
  padding: 1.5rem;
  width: clamp(20.4375rem, 50vw, 24rem);
}

.imgprincipal {
  border-radius: 10px;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.conteudo {
  margin-bottom: 1.5rem;
}

h1, p {
  margin: 0 0 0.75rem 0;
}

h1:hover {
  color: var(--cor-fundo-1);
  cursor: pointer;
}

.estado {
  border-radius: 4px;
  display: inline-block;
  padding: 0.25rem 0.75rem;
}


.persona {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.autor {
  display: inline-block;
  margin: 0;
}

.fotoautor {
  height: 2rem;
  margin-right: 0.75rem;
  width: 2rem;
}